<div class="container background-list profile-page">
  <div class="row">

    <div class="col-sm-4 col-md-3">

      <div class="profile-info">

        <h2> <%= userDetails.displayName %> </h2>

        <% if(isOwnProfile) { %>
          <a href="/displayname"> Change Display Name </a>
        <% } %>

        <img src="<%=userDetails.photoURL%>" class="profile-picture">
        <% if(isOwnProfile) { %>

            <form action="/profile-picture" method="post" enctype="multipart/form-data">
              <label for="profileFile">Upload Profile Picture</label>
                <input type="file" name="profilePicture" id="profileFile"> </input>
              <button class='btn btn-default' id="upload-btn"> Upload </button>
            </form>

        <% } %>

      </div>

    </div>

    <div class="col-sm-8 col-md-9">

      <div class="col-sm-6">
        <% if (isOwnProfile) { %>
          <h2> My Recipes </h2>

        <% } else { %>
          <h2> Their Recipes </h2>
        <% } %>

        <% if (ethnicityList.length === 0) { %>
          <div class="panel panel-default list-panel">
            <h4> User has no recipes </h4>
          </div>
        <% } %>

        <% ethnicityList.forEach((oneEthnicity) => { %>
          <a href="/profile/recipes/<%=userDetails._id%>/<%= oneEthnicity%>" class="list-item">
            <div class="panel panel-default list-panel">
              <h4><%=oneEthnicity%></h4>
            </div>
          </a>
        <%});%>

        <% if(isOwnProfile) { %>
          <a href="/recipes/new" class="new-recipe"> + Add a new recipe </a>
        <% } %>
      </div>


      <div class= "col-sm-6">
        <h2> Bookmarked Recipes </h2>

        <% if (bookMarkedList.length === 0) { %>
          <div class="panel panel-default list-panel">
            <h4> User has no bookmarks </h4>
          </div>
        <% } %>

        <% bookMarkedList.forEach((oneEthnicity) => { %>

          <a href="/profile/bookmarked/<%=userDetails._id%>/<%= oneEthnicity%>" class="list-item">
            <div class="panel panel-default list-panel">
              <h4><%= oneEthnicity %></h4>
            </div>
          </a>
          
        <%});%>
      </div>


    </div>

  </div>
</div>
