<div class="container background-list recipe-list">
  <h2> Results from keyword: <i><%= keyWord %></i></h2>
</div>

<div class="container background-list recipe-list recipe-list-main">
      <% if (recipeArray.length === 0) { %>
        <h3> Sorry, no results found with that search </h3>
      <% } else { %>
          <div class='row ethnicity-row'>

          <div class="grid">
        <% recipeArray.forEach((oneRecipe) => { %>

          <div class='grid-item'>
            <div class='columnspacing foodsnippet'>

              <img src="<%= oneRecipe.photoURL %>" onError="this.src = '/images/default-recipe.png'" class='recipeImage'></img>
              <h3> <%= oneRecipe.title %> </h3>
              <hr>

              <h4> Date Created: <%= oneRecipe.createdAt.toDateString() %> </h4>
              <h4> Rating: <span class="stars"><%= (oneRecipe.rating.toFixed(1)); %> </span></h4>
              <h4> Ethnicity: <%= oneRecipe.ethnicity %> </h4>
              <a href='/recipes/<%= oneRecipe.ethnicity %>/<%= oneRecipe._id %>'> View This Recipe </a>
            </div>
          </div>

        <% }); %>

        </div>
      <%}%>

      <div class="pagination-buttons">
        <ul class="pagination">

          <% if (currentPage > 1) { %>
            <li>
              <a href="/search/<%= currentPage - 1 %>?searchValue=<%= keyWord %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          <% } %>

          <% for (let i = 1; i <= pageCount; i++) { %>
            <li><a href="/search/<%= i %>?searchValue=<%= keyWord %>"><%= i %></a></li>
          <% } %>

          <% if (currentPage < pageCount ) {%>
          <li>
            <a href="/search/<%= currentPage + 1 %>?searchValue=<%= keyWord %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>

          <% } %>
        </ul>
      </div>

</div>
