<div class="container background-list recipe-form-container">

  <h2> Create a New Recipe! </h2>
  <form action="/recipes/new" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="row">

        <div class="col-sm-8">
          <div class="form-group input-padding">
            <label for="title-input"> Title for Recipe: </label>
            <input type="text" class="form-control" name="recipeTitle" id="title-input">
            <% if (typeof titleValidationError === 'object') { %>
                <p class="validation-error"> <%= titleValidationError.message %> </p>
            <% } %>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group input-padding">
            <label for="servings-input"> Serves: </label>
            <input type="number" class="form-control" name="recipeServings" id="servings-input">
            <% if (typeof titleValidationError === 'object') { %>
                <p class="validation-error"> <%= servesValidationError.message %> </p>
            <% } %>
          </div>
        </div>

    </div>


    <div class="row">
      <div class="col-sm-6">
        <div class="form-group input-padding time-input">
          <label for="prep-time-input"> Prep Time: </label>
          <input type="number" class="form-control" name="recipePrepTimeHours" id="prep-time-input"> <p>Hours</p>
          <input type="number" class="form-control" name="recipePrepTimeMinutes">  <p>Minutes</p>
          <% if (typeof titleValidationError === 'object') { %>
              <br><p class="validation-error"> <%= prepTimeValidationError.message %> </p>
          <% } %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group input-padding time-input">
          <label for="cooking-time-input"> Cooking Time: </label>
          <input type="number" class="form-control" name="recipeCookingTimeHours" id="cooking-time-input"> <p>Hours</p>
          <input type="number" class="form-control" name="recipeCookingTimeMinutes">  <p>Minutes</p>
        </div>
      </div>

    </div>



      <div class="form-group">
        <label for="ethnicity-input"> Ethnicity: </label>
        <select id="ethnicity-input" name="recipeEthnicity">
          <option value="" disabled selected > Select Ethnicity</option>
          <% foodCategories.forEach((oneCategory) => { %>
           <option value="<%=oneCategory%>"> <%= oneCategory %> </option>
          <% }) %>
        </select>
      </div>



    <div class="form-group">
      <label for="ingredients-input"> Ingredients: </label>
      <textarea name="recipeIngredients" class="form-control" rows="8" id="ingredients-input"
        placeholder="Put each ingredient on it's own line. Include measurements if applicable."></textarea>
    </div>

    <div class="form-group">
      <label for="recipe-input"> Cooking Directions: </label>
      <textarea name="recipeRecipe" rows="8" class="form-control" id="recipe-input"
      placeholder="Add each step on it's own line."></textarea>
    </div>

    <div class="form-group">
      <label for="">Upload Profile Picture</label>
      <input type="file" name="recipePicture"> </input>
    </div>


    <button class="btn btn-lg btn-default"> Save this Recipe </button>

  </form>

</div>
