<div class="container background-list recipe-list">
  <h2> <%= userTitle %></h2>
</div>

<div class="container background-list recipe-list recipe-list-main">
      <% if (recipeArray.length === 0) { %>
        <h3> Sorry, no recipes in this category! </h3>
      <% } else { %>
          <div class='row ethnicity-row'>

        <% recipeArray.forEach((oneRecipe) => { %>

          <div class='col-sm-6 col-md-4'>

            <div class='columnspacing foodsnippet'>
              <img src="<%= oneRecipe.photoURL %>" class='recipeImage'></img>

              <h3> <%= oneRecipe.title %> </h3><hr>
              <h4> Date Created: <%= oneRecipe.createdAt.toDateString() %> </h4>
              <h4> Rating: <span class="stars"><%= (oneRecipe.rating.toFixed(1)); %> </span></h4>
              <a href='/recipes/<%= oneRecipe.ethnicity %>/<%= oneRecipe._id %>'> View This Recipe </a>
            </div>

          </div>

        <% }); %>

        </div>
      <%}%>


</div>
