<% if (typeof errorMessage === 'string') { %>
  <p> <%= errorMessage %> </p>
<% } %>

<div class="container background-list details">

  <div class="row">

    <div class='col-md-6'>
      <div class='col-content'>

          <h2> <%= recipeDetails.title %> </h2>
          <% if (isUserLogged) { %>

              <% if(!isBookMarked) { %>

                  <form action="/recipes/<%= recipeDetails.ethnicity%>y/<%= recipeDetails._id%>/bookmark" method="post">

                    <button class="btn btn-default bookmark-btn">
                      <span class="glyphicon glyphicon-bookmark"></span>
                      Bookmark this Recipe
                    </button>

                  </form>

              <% } else { %>

                <form action="/recipes/<%= recipeDetails.ethnicity%>y/<%= recipeDetails._id%>/removeBookmark" method="post">

                  <button class="btn btn-default bookmark-btn">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remove From Bookmarks
                  </button>

                </form>

          <% }}%>

          <div class="row">
            <div class='col-sm-6'>

              <p class="times"> <b>Cooking Time:</b>
                <%if (recipeDetails.cookingTime.hours > 0 && recipeDetails.cookingTime.hours !== null){ %>
                  <%= recipeDetails.cookingTime.hours %> h
                <% } %>
                <%= recipeDetails.cookingTime.minutes %> m
              </p><br>

              <p class="times"> <b>Serves:</b> <%= recipeDetails.serves %></p>

            </div>

            <div class="col-sm-6">

              <p class="times"> <b>Prep Time:</b>
                <%if (recipeDetails.prepTime.hours > 0 && recipeDetails.prepTime.hours !== null){ %>
                  <%= recipeDetails.prepTime.hours %> h
                <% } %>
                <%= recipeDetails.prepTime.minutes %> m
              </p><br>

              <p class="times"> <b>Ethnicity:</b> <%= recipeDetails.ethnicity %> </p>

            </div>
          </div>

          <p> <b>Author:</b> <a href='/profile/<%=recipeDetails.author._id%>'><%=recipeDetails.author.displayName%></a></p>

          <p> <b>Rating:</b> <span class="stars"><%= (recipeDetails.rating.toFixed(1)); %> </span> </p>


          <img src="<%= recipeDetails.photoURL %>" onError="this.src = '/images/default-recipe.png'">

          <% if(recipeDetails.author._id.equals(user._id)) { %>

              <form action="/recipes/<%= recipeDetails.ethnicity %>/<%= recipeDetails._id%>/updatepicture" method="post" enctype="multipart/form-data">
                <label for="recipeFile">Change Recipe Photo</label>
                  <input type="file" name="recipePicture" id="recipeFile"> </input>
                <button class='btn btn-default' id="upload-recipe-btn"> Upload </button>
              </form>

          <% } %>


          <h3> <b>Ingredients:</b></h3>
            <ul class='direction-list'>
              <% recipeDetails.ingredients.forEach((oneIngredient) => { %>
                <li> <%= oneIngredient %> </li>
              <% }) %>
            </ul>
        </div>

    </div>
    <div class="col-md-6 directions">

      <div class="col-content">
        <h2> Directions </h2><br>
          <ol class='direction-list'>
            <% recipeDetails.recipe.forEach((oneStep) => { %>
              <li> <%= oneStep %> </li><br>
            <% }) %>
          </ol>


        <% if (recipeDetails.author._id.equals(user._id)) { %>
          <div class="row">
            <div class="col-xs-6">
              <a href="/recipes/<%= recipeDetails.ethnicity %>/<%= recipeDetails._id %>/edit"> Edit This Recipe </a><br>
            </div>
              <a href="/recipes/<%= recipeDetails.ethnicity %>/<%= recipeDetails._id %>/delete"> Delete This Recipe </a>
          </div>
        <% } %>
      </div>
    </div>

  </div>
</div>

  <div class="review-list">
  <!--  ======Reviews SECTION========= -->
<h2 id="ReviewSection"> Reviews for <i><%= recipeDetails.title %></i> </h2>

  <% if (isUserLogged) { %>

      <button type="button" class="btn review-button" data-toggle="modal" data-target="#myModal">
        Write a Review
      </button>

  <% } else { %>

    <h4> Log in to write a review </h4>

  <% } %>

<% if(recipeDetails.reviews.length > 0) { %>

    <% recipeDetails.reviews.forEach((oneReview) => { %>

      <div class='review-info'>
        <h4> <b>Rating:</b> <span class="stars rating-stars">   <%= oneReview.rating %> </span> </h4>

        <hr>

        <% if ((oneReview.comments.replace(/\s/g, "")).length > 0) { %>
            <h5> Comments: </h5>
            <p> <%= oneReview.comments %> </p>
            <hr>
        <% } %>

        <p> Review by: <%= oneReview.author.displayName%></p>

      </div>

    <% }) %>

<% } else { %>
  <h3> Currently no reviews for this recipe. Why not write one yourself? </h3>
<% } %>
<div class='pagination-buttons'>
  <ul class="pagination">
    <% if (currentPage > 1) { %>
    <li>
      <a href="/recipes/<%= recipeDetails.ethnicity %>/<%= recipeDetails._id %>/<%= currentPage - 1 %>#ReviewSection" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% } %>
    <li class='centerpag'>
        <span aria-hidden="true">...</span>
    </li>
    <% if (recipeDetails.reviews.length === 5) { %>
    <li>
      <a href="/recipes/<%= recipeDetails.ethnicity %>/<%= recipeDetails._id %>/<%= currentPage + 1 %>#ReviewSection" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <% } %>
  </ul>
</div>

</div>


<!-- =======Modal========= -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> Your Review </h4>
      </div>
      <div class="modal-body review-body">

        <form action="/recipes/<%= recipeDetails.ethnicity %>/<%= recipeDetails._id %>/addReview" method="post" class="form-horizontal">

          <div class="form-group">
            <label for="rating-input"> Rating: </label>
            <select id="rating-input" class="form-control rating-control" name="reviewRating">
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              <option value="5" selected> 5 </option>
            </select>
          </div>

          <div class="form-group">
            <label for="comments-input"> Comments: </label>
            <textarea rows="5" id="comments-input" class="form-control" name="reviewComments"></textarea>
          </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="Submit" class="btn review-button">Submit Review</button>
        </form>
      </div>
    </div>
  </div>
</div>
